/* SCSS Document */

//共通設定
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

$col1: #00a9d9;
$col2: #fd0060;
$bk: #000000;


//レスポンシブ設定
@mixin  pc {
    @media (max-width:1024px) {
        @content;
    }
}
@mixin tb {
    @media (max-width:768px) {
        @content;
    }
}
@mixin w640 {
    @media (max-width:640px) {
        @content;
    }
}
@mixin sp {
    @media (max-width:480px) {
        @content;
    }
}
@mixin sp-s {
    @media (max-width:380px) {
        @content;
    }
}

